<nav class="navbar fixed-bottom bg-body-tertiary navbar-light bg-light">
    <div class="container-fluid">
      <p class="text-center text-muted"></p>&copy; Copyright 2025, The Polar Bear Security Solutions Inc (Trust Limited, Very Limited... to be honest no Trust at all...)</p>
    </div>
</nav>