<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>

<body>
<header>
  <%- include('partials/header'); %>
</header>


<main role="main" class="container mt-5">
  <div class="bg-white p-5">
	<h1 class="display-4">Welcome to First Home Bank!</h1>
	<p class="lead">
		<b>First Home Bank</b> is a pioneer in the banking sector, known for its cutting-edge technology and commitment to traditional values. 
		We offer state-of-the-art online banking while still providing the personal touch of a local branch.
		<i>Just don't ask us about our interest rates. They're a mystery even to us.</i>
	</p>
	<p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>